module.exports = {
  API_URL: "https://api.steemit.com",
  VERSION: "0.0.1", // 프로그램 버전 정보
  MAX_RETRY: 3, // HTTP 커넥션 재시도 횟수
  RETRY_SEC: 3000, // 재시도 시간, 1000 = 1초
  COMMUNITY_ID: "hive-137029", // 커뮤니티명
  VOTER_ID: "", // 계정명
  VOTER_POSTING_KEY: "", // 포스팅키
  WHITE_LIST: [
    "wonsama",
  ], // WHITE LIST
  MONITORS: [
    // 모니터링 대상
    {
      impl: "sample", // impl 폴더 내 파일명, .js 제외
      operations: ["comment"], // 모니터링 커맨드, wconst.js 참조
    },
  ],
  COMMUNITY_TAG: "kr-dev", // 태그
  CURATOR_MAX_CNT: 5, // 큐레이터 수량
  CURATOR_ID_PREFIX: "kr-dev.cu", // 큐레이터 아이디 프리픽스 cu0, cu1 ... cu4
  CURATOR_POSTING_KEYS: [
    "000",
    "111",
    "222",
    "333",
    "444",
  ], // 포스팅키 목록 0 ~ 4 순차 기록
};
